<h1>Welcome To Public Library </h1>

<p>
  Hi,<br/>
  <%= @name %>,<br/>

  Thank you for registering! We're excited to have you on board. Explore our features and enjoy your experience.<br/><br/>
  Thank you<br/>
  <%= link_to 'Click here to login', 'http://library.misfit-test.com' %>
</p>
