<h1>Welcome To Public Library </h1>

<p>
  <%= @greeting %>,<br/>
  Your Login Credential<br/>
  Email : <%= @email %><br/>
  Password : <%= @password %><br/><br/>
  Thank you<br/>
  <%= link_to 'Click here to login', "#{@login_url}" %>
</p>
