development:
    ROOT_URL: "http://localhost:3001"
    DATABASE_POOL: "5"
    DATABASE_HOST: "localhost"
    DATABASE_NAME: "public_library_development"
    DATABASE_USER_NAME: "db_user"
    DATABASE_PASSWORD: "db_password"
    GENERAL_MBR_SECURITY_MONEY: "1000"
    STUDENT_MBR_SECURITY_MONEY: "500"
    CHILD_MBR_SECURITY_MONEY: "200"
    SHIPPING_CHARGE_SAME_DISTRICT: "60"
    SHIPPING_CHARGE_OTHER_DISTRICT: "120"
    SHIPPING_CHARGE_VAT: "0.15"
    BORROW_DAYS: "15"
    LIBRARY_CARD_REQUEST: "50"
    MAX_BORROW: "2"
    BORROW_DAYS: "15"
    LIBRARY_OPENING_START_DAY: "Sat"
    LIBRARY_OPENING_END_DAY: "Thu"
    LIBRARY_OPENING_START_HOUR: "9:00 AM"
    LIBRARY_OPENING_END_HOUR: "5:00 PM"
    EVENT_ORGANIZER: "Department of Public Libraries (DPL)""
    EVENT_VENUE: "All libraries under DPL"
    MEMBERSHIP_EXPIRY_MONTHS: "12"
    TRENDING_THRESHOLD: "10"
    MAX_BORROW: "2"
    EXTENSION_DAYS: "15"
    FIRST_WEEK_LATE_PER_DAY: "5"
    SECOND_WEEK_LATE_PER_DAY: "10"
    MATURED_SECURITY_MONEY_YEAR: "1"
    LMS_SERVICE_CODE: "misfit"
    LMS_PASS_KEY: "12345678"
    EMAIL_ADDRESS: "abc@example.com"
    EMAIL_PASSWORD: "password"
    RESET_PASSWORD_TOKEN_EXPIRY: "15"
    INTER_LIB_BORROW_DAYS: "30"
    INTER_LIB_BORROW_DAYS_EXTEND: "15"
    LOST_CARD_AMOUNT: "50"
    NAGAD_API_URL: "http://sandbox.mynagad.com:10080/remote-payment-gateway-1.0"
    NAGAD_MERCHANT_ID: "1234567890"
    NAGAD_PRIVATE_KEY: "ABC"
    NAGAD_PUBLIC_KEY: "XYZ"
    LMS_REPORT_SUBMIT_LAST_DATE: "5"
    ELASTIC_HOSTS: "10.1.1.1;10.1.1.2;10.1.1.3"
