<h1>Welcome To Public Library </h1>

<body>
<p>Dear <%= @publisher.publication_name %>,</p>

<p>We have an update about your memorandum book submit.</p>

<p>Purchase Order created and status has been changed.</p>

<p>Purchase Order Status is <%= @status %> for your Memorandum submission</p>

<p>Please login to your account for details
<p>Thank you.</p>

<p>The Public library Team</p>
</body>